<?xml version="1.0" encoding="UTF-8"?>
<!--write logs to file  -->
<!-- 
<configuration>
	
	<property name="DEV_HOME" value="D:/bca/logs" />
	
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} [pid-${PID:-}] [trace-%X{X-B3-TraceId:-}] %magenta([%thread]) %highlight(%-5level) %logger{36}.%M - %msg%n</pattern>
        </encoder>
    </appender>
    
    
	
	<appender name="FILE-AUDIT"
	    class="ch.qos.logback.core.rolling.RollingFileAppender">
	    <file>${DEV_HOME}/mockRest.log</file>
	    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
	        <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} %magenta([%thread]) %highlight(%-5level) %logger{36}.%M - %msg%n</pattern>
	    </encoder>
	    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
	        rollover daily
	        <fileNamePattern>
	            ${DEV_HOME}/debug.%d{yyyy-MM-dd}.%i.log
	        </fileNamePattern>
	        <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
	            <maxFileSize>10MB</maxFileSize>
	        </timeBasedFileNamingAndTriggeringPolicy>
	    </rollingPolicy>
	</appender>
    
    
    <root level="info">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE-AUDIT" />
    </root>
</configuration> -->

<!--Console log  -->
<configuration>
	
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} [pid-${PID:-}] [trace-%X{X-B3-TraceId:-}] %magenta([%thread]) %highlight(%-5level) %logger{36}.%M - %msg%n</pattern>
        </encoder>
    </appender>
   
    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>

